NEWSDATA_API_KEY=pub_b993b1572ec14b6b876078d0e0bf64e8
X_API_KEY=your_twitter_api_key_here
X_API_SECRET=your_twitter_api_secret_here
X_ACCESS_TOKEN=your_twitter_access_token_here
X_ACCESS_SECRET=your_twitter_access_token_secret_here
